# for the old creative mode type of flying. Todo: remove once Elytra code implemented
public net.minecraft.network.play.ServerPlayNetHandler field_147365_f # floatingtickCount

# public net.minecraft.client.renderer.texture.AtlasTexture field_195427_i #sprites note: just don't do this, OK.

# Allow cube list to be cleared for the high-polly armor models
public net.minecraft.client.renderer.model.ModelRenderer field_78804_l # cubeList

# allow overriding of armor layer armor part rendering
protected net.minecraft.client.renderer.entity.layers.ArmorLayer func_229129_a_(Lcom/mojang/blaze3d/matrix/MatrixStack;Lnet/minecraft/client/renderer/IRenderTypeBuffer;Lnet/minecraft/entity/LivingEntity;FFFFFFLnet/minecraft/inventory/EquipmentSlotType;I)V # renderArmorPart

# used in setting up the armor layer
public net.minecraft.client.renderer.entity.LivingRenderer field_177097_h # layerRenderers
public net.minecraft.client.renderer.entity.layers.ArmorLayer field_177189_c # modelLeggings
public net.minecraft.client.renderer.entity.layers.ArmorLayer field_177186_d # modelArmor

# Allow slots to be moved
public-f net.minecraft.inventory.container.Slot field_75223_e # xPos
public-f net.minecraft.inventory.container.Slot field_75221_f # yPos